@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h2>My Ticket Program!</h2>
    <hr>
    <p><a href="/tickets">See all tickets</a></p>
    <p><a href="/tickets/new">Reserve your ticket!</a></p>
</div>
