<h2>Reserve your Seat!</h2>
<form action="/submit" method="post">
    <label for="price">Select Seat Level</label>
    <select name="price">
        <option value="20">General Admission</option>
        <option value="40">Reserved Seat</option>
    </select>
    <br>
    <label for="seat">Desired Seat</label>
    <input type="text" name="seat" value="" placeholder="12A">
    <br>
    <label for="date">Event Date</label>
    <input type="date" name="date">
    <br>
    <button type="submit" name="button">Submit</button>
</form>
<p>
    <a href="/">HOME</a>
</p>
